@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');

.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
}


.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Oswald';
  font-weight: 200;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
