@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');

.movies {
    display : flex;
    flex-wrap: wrap;
}

.movieListTitle{
    color: rgb(224, 183, 0);
    font-family: 'Oswald';
    font-weight: lighter;
}

.imgclass{
    max-width: 185px;
    max-height: 274px;
}

/* .movieListDiv{
justify-content: center;
align-items: center;
} */